James Allen <jamesallen0108@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Trevor Bekolay <tbekolay@gmail.com>
John Blischak <jdblischak@gmail.com>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Amy Boyle <aboyle5@hotmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Gerard Capes <gerardcapes@gmail.com>
Mike Croucher <Michael.P.Croucher@googlemail.com>
Remi Daigle <remi.daigle@dal.ca>
James A. Desjardins <jim.a.desjardins@gmail.com>
Jonah Duckles <jonah@duckles.org>
Susan Duncan <duncanslp@gmail.com>
Rémi Emonet <remi@heeere.com> <remi.emonet@univ-st-etienne.fr>
Michael Hansen <hansen.mike@gmail.com>
Ian Hawke <I.Hawke@soton.ac.uk>
Mike Jackson <michaelj@epcc.ed.ac.uk>
Seb James <seb.james@sheffield.ac.uk>
W. Trevor King <wking@tremily.us>
Isabell Kiral-Kornek <isa.kiral@gmail.com>
Alex Kotliarskyi <alex.frantic@gmail.com>
François Michonneau <francois.michonneau@gmail.com>
Bill Mills <mills.wj@gmail.com>
Jason K. Moore <moorepants@gmail.com>
Fran Navarro <francisco.navarro@cacheme.org>
Aaron O'Leary <aaron.oleary@gmail.com>
John Pearson <jmxpearson@gmail.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br> <raniere@rgaiacs.com>
Ashwin Srinath <ashwinsrnth@gmail.com> <atrikut@clemson.edu>
Adam Thomas <git@adamthomas.us>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
