<p><img alt="Variables as Sticky Notes" src="../fig/matlab-sticky-note-variables-01.svg" /></p>
<hr/>
<p><img alt="Creating another variable" src="../fig/matlab-sticky-note-variables-02.svg" /></p>
<hr/>
<p><img alt="Updating one variable" src="../fig/matlab-sticky-note-variables-03.svg" /></p>
<hr/>
<p><img alt="Accessing a single value" src="../fig/matrix-single-element.svg" /></p>
<hr/>
<p><img alt="Accessing a single value" src="../fig/matrix-row.svg" /></p>
<hr/>
<p><img alt="Accessing multiple rows" src="../fig/matrix-multi-rows.svg" /></p>
<hr/>
<p><img alt="Accessing multiple columns" src="../fig/matrix-multi-cols.svg" /></p>
<hr/>
<p><img alt="Accessing a submatrix" src="../fig/matrix-submatrix.svg" /></p>
<hr/>
<p><img alt="Accessing strided columns" src="../fig/matrix-strided-rows.svg" /></p>
<hr/>
<p><img alt="Accessing strided rows and columns" src="../fig/matrix-strided-rowncols.svg" /></p>
<hr/>
<p><img alt="Operations Across Axes" src="../fig/matlab-operations-across-axes.svg" /></p>
<hr/>
<p><img alt="First Heat Map" src="../fig/01-intro_1.png" /></p>
<hr/>
<p><img alt="Second Heat Map" src="../fig/01-intro_2.png" /></p>
<hr/>
<p><img alt="Third Heat Map" src="../fig/01-intro_3.png" /></p>
<hr/>
<p><img alt="Fourth Heat Map" src="../fig/01-intro_4.png" /></p>
<hr/>
<p><img alt="Fifth Heat Map" src="../fig/01-intro_5.png" /></p>
<hr/>
<p><img alt="Overlapping Ranges" src="../fig/matlab-overlapping-ranges.png" /></p>
